* {box-sizing: border-box;}


body {
    margin: 0 auto;
    height: 118vh;
    background-size: cover;
    overflow: hidden;
}

.my-header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff; 
    width: 100%;
    height: 13.5%;
    border-bottom: solid 2px gainsboro;
}


#my-name {
    float: left;
    width: 20%;
    height: 90px;
    padding-bottom: 25px;
    padding-top: 18px;
    margin-left: 270px;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: 12px;
}

.my-links {
    float: right;
    color: #777777;
    margin-top: 40px;
    margin-right: 275px;
    text-decoration: none;
}

nav a {
    margin-left: 30px;
    color: #777777;
    text-decoration-line: none;
}

h2 {
    color: #4aaaa5;
    border-bottom: solid 2px gainsboro;
    padding-bottom: 20px;
}

.container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url(../images/floor-tile.png);
    align-content: center;
    padding: 20px;
    width: 100%;
    height: 60%;
}

#main-content {
    width: 740px;
    padding: 15px;
    line-height: 1;
    background-color: #ffffff;
    margin: 0 auto;
    color: #777777;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

input[type=submit] {
    color: #ffffff;
    background-color: #4aaaa5;
}

#my-footer {
    background-color: #666666;
    height: 12%;
    padding: 28px;
    text-align: center;
    color: gainsboro;
    border-top: solid 5px #4aaaa5;
    clear: both;
}